// stylelint-disable-next-line selector-max-id
#carbonads {
  padding: .75rem;
  overflow: auto;
  background-color: rgba(0, 0, 0, .05);
  border-radius: .25rem;
}

.carbon-img {
  float: left;
  margin-right: .75rem;

  @media (min-width: 768px) {
    margin-bottom: .5rem;
  }

  @media (min-width: 992px) {
    margin-bottom: 0;
  }
}

.carbon-text,
.carbon-poweredby {
  display: block;
  color: #6c757d;

  &:hover,
  &:focus {
    color: #343a40;
    text-decoration: none;
  }
}

.carbon-text {
  margin-bottom: .5rem;

  @media (min-width: 768px) {
    font-size: .875rem;
  }
}

.carbon-poweredby {
  margin-top: .75rem;
  font-size: .875rem;
}
