// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.btn-clipboard {
  position: absolute;
  top: .75em;
  right: .5em;
  z-index: 10;
  display: block;
  padding: .5em .75em .625em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);
  border: 0;
  border-radius: .25rem;

  &:hover {
    color: var(--bs-link-hover-color);
  }
}


.bd-clipboard-wrapper {
  position: absolute;
  top: 7.15rem;
  right: .75rem;
  display: none;
  font-size: .8125rem;

  .btn-clipboard {
    top: 0;
    right: 0;
    padding: 0;
    background-color: var(--bs-body-bg);
  }

  .highlight {
    position: absolute;
    z-index: -999;
    width: 1px;
    height: 0;
    padding: 0;
    opacity: 0;
  }
}

li:hover {
  .bd-clipboard-wrapper {
    display: block;
  }

  .btn-clipboard {
    box-shadow: -7px 0 4px var(--bs-body-bg);
  }
}
