// clipboard.js
//
// JS-based `Copy` buttons for code snippets.

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @media (min-width: 768px) {
    display: block;
  }
}

.btn-clipboard {
  position: absolute;
  top: .75em;
  right: .5em;
  z-index: 10;
  display: block;
  padding: .5em .75em .625em;
  line-height: 1;
  color: var(--bs-body-color);
  background-color: var(--bs-tertiary-bg);
  border: 0;
  border-radius: .25rem;

  &:hover {
    color: var(--bs-link-hover-color);
  }
}
