.bd-navbar {
  padding: .75rem 0;
  background-color: $bd-purple-bright;

  @media (max-width: 1024px) {
    .container-xxl {
      --bs-gutter-x: #{$bd-gutter-x};
    }
  }

  .navbar-toggler {
    padding: 0;
    border: 0;
  }

  .navbar-nav {
    .nav-link {
      padding-right: $spacer * .25;
      padding-left: $spacer * .25;
      color: rgba(#fff, .85);

      &:hover,
      &:focus {
        color: #fff;
      }

      &.active {
        font-weight: 600;
        color: #fff;
      }
    }
  }

  .navbar-nav-svg {
    width: 1rem;
    height: 1rem;
  }

  .offcanvas {
    background-color: $bd-purple-bright;
    border-left: 0;

    @media (max-width: 1024px) {
      box-shadow: $box-shadow-lg;
    }
  }
}
