.bd-subnavbar {
  background-color: rgba(#fff, .75);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .15);

  @media (min-width: 992px) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071; // over everything in bootstrap
  }
}
