$white:    #fff;
$blue:     #007bff;
$gray-100: #f8f9fa;
$gray-500: #adb5bd;
$gray-700: #495057;
$gray-800: #343a40;
$primary:  #0d6efd;

// Local docs variables
$bd-purple:        #563d7c;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%); // #7952b3
$bd-dark:          #2a2730;
$bd-download:      #ffe484;
