// stylelint-disable scss/dollar-variable-default

$white: #fff;
$gray-100: #f8f9fa;
$gray-500: #6c757d;

// Local docs variables
$bd-purple:        #563d7c;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%);
$bd-dark:          #2a2730;
$bd-download:      #ffe484;
