---
---

@import "variables";
@import "buttons";
@import "navbar";
@import "ads";

.f0 {
  font-size: 2rem;

  @media (min-width: 520px) {
    font-size: 3rem;
  }
}
.f3 {
  font-size: 1.25rem;

  @media (min-width: 520px) {
    font-size: 1.5rem;
  }
}
.f5 {
  font-size: 1rem;

  @media (min-width: 520px) {
    // font-size: 1.15rem;
  }
}

.hero {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  .f3 {
    max-width: 760px;
  }

  hr {
    max-width: 100px;

  }
}

.hero-search {
  max-width: 400px;
}

.bi {
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  fill: currentColor;
  vertical-align: text-bottom;
}

.list:empty::before {
  display: block;
  width: 100%;
  padding: 100px 2rem;
  margin-right: 15px;
  margin-left: 15px;
  content: "Nothing found, try searching again.";
  color: $gray-500;
  text-align: center;
  background-color: $gray-100;
  border-radius: .5rem;
}

.list .bi {
  width: 2em;
  height: 2em;
}

.btn-group > .btn {
  flex-shrink: 0;
}

.name {
  font-size: .8125rem;
}
